<html>
<title></title>
<link rel="stylesheet" href="static/css/face.css">
<style>
    h2 {
    font-size: 30px
    }
    h5 {
        font-size: 18px
    }
</style>

<body>
    <div class="navbar col-12">
        <ul>
            <li class="col-2"><a class="active" href={{ url_for('index') }}>Home</a></li>
            <li class="col-3"><a href={{ url_for('hero') }}>Super Heroes</a></li>
            <li class="col-3"><a href={{ url_for('villain') }}>Super Villains</a></li>
            <li class="col-3"><a href={{ url_for('organization') }}>Organizations</a></li>
        </ul>
    </div>
    <!-- Page Container -->
    <div class="w3-content w3-margin-top">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="col-4">

                <div class="w3-white w3-card">
                    <div class="w3-display-container">
                        <img src="static/img/barry.jpg" style="width:100%">
                        </img>
                        <div class="w3-display-bottomleft w3-container">
                            <h2 style="color: white">The Flash</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <p class="w3-large"><b>Information</b></p>
                        <p><b>Real Name:</b></p>
                        <h4>Barry Allan</h4>
                        <p><b>Location:</b></p>
                        <h4>Central City</h4>
                        <p><b>Family:</b></p>
                        <h4>Bart Allan</h4>
                        <hr>
                        <p class="w3-large"><b>Powers</b></p>
                        <p>Speed Force</p>
                        <p>Super Strength</p>
                        <p>Super Humor</p>
                        <p>He's Fast</p>
                        <hr>

                        <p class="w3-large"><b>Something Else</b>
                        </p>
                        <p>i dont know</p>
                        <p>maybe</p>
                        <p>stuff they like</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2>Some Big Post About Stuff</h2>
                    <div class="w3-container">
                        <h5><b>Smaller Post</b></h5>
                        <p>Tgsdfjkhgbdsfkjgbd gkdf gkshd gkjhds fkgjhsd fgkjh dsfgjkh dfkljhg sdkjfhg kdjsfh glkjdshf gkjhdfs g</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5><b>Pop and Lock</b></h5>
                        <p>jfhg sdkjhf gkjsdhf gkjdsfh gkjhdfs gkjhdfs gkjdfhs gkjdfsh g,kjsdh fgksjhd fg,kjhsd  </p>
                        <br>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white">
                    <div class="w3-container">
                        <h5><b>Social Media</b></h5>
                        <p>Maybe include links and shit to "there social media" or something and have this be at the bottom</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>

</html>